//
// SASS Manifest
// ---------------------------------------------------------------------------------

// Vendor libraries
//
// Bourbon...............A lightweight SASS mixin library: http://bourbon.io
// Neat..................A grid framework for Bourbon: http://neat.bourbon.io
// Flickity..............Responsive, touch friendly carousels

@import 'bourbon', 'neat';
@import 'vendor/flickity/flickity';

// Molecules

@import 'molecules/_carousel-slide';

// Organisms

@import 'organisms/_carousel';
