<!DOCTYPE html>
<html lang="{{lang}}">

{{> partials/head }}

<body>
	<div class="carousel js-carousel">
		<div class="slide">
			<video autoplay loop muted playsinline>
				<source src="assets/video/mp4/new-apple-pay-no-frame.mp4">
				<source src="assets/video/webm/new-apple-pay-no-frame.webm" onerror="fallback(parentNode)">
				<img src="assets/img/gif/apple-pay.gif" alt="Apple Pay" title="Apple Pay">
			</video>
		</div>

		<div class="slide">
			<video autoplay loop muted playsinline>
				<source src="assets/video/mp4/new-spending-and-insights-no-frame.mp4">
				<source src="assets/video/webm/new-spending-and-insights-no-frame.webm" onerror="fallback(parentNode)">
				<img src="assets/img/gif/apple-pay.gif" alt="Spending and Insights" title="Spending and Insights">
			</video>
		</div>

		<div class="slide">
			<video autoplay loop muted playsinline>
				<source src="assets/video/mp4/new-apple-pay-no-frame.mp4">
				<source src="assets/video/webm/new-apple-pay-no-frame.webm" onerror="fallback(parentNode)">
				<img src="assets/img/gif/apple-pay.gif" alt="Apple Pay" title="Apple Pay">
			</video>
		</div>

		<div class="slide">
			<video autoplay loop muted playsinline>
				<source src="assets/video/mp4/new-spending-and-insights-no-frame.mp4">
				<source src="assets/video/webm/new-spending-and-insights-no-frame.webm" onerror="fallback(parentNode)">
				<img src="assets/img/gif/apple-pay.gif" alt="Spending and Insights" title="Spending and Insights">
			</video>
		</div>

		<div class="slide">
			<video autoplay loop muted playsinline>
				<source src="assets/video/mp4/new-apple-pay-no-frame.mp4">
				<source src="assets/video/webm/new-apple-pay-no-frame.webm" onerror="fallback(parentNode)">
				<img src="assets/img/gif/apple-pay.gif" alt="Apple Pay" title="Apple Pay">
			</video>
		</div>
	</div>

{{> partials/foot }}
