<!DOCTYPE html>
<html lang="{{lang}}">

{{> partials/head }}

<body>
	<div class="carousel js-carousel">
		<div class="slide">
			<div class="video-box">
				<video autoplay loop muted playsinline preload="auto">
					<source src="assets/video/mp4/new-apple-pay-no-frame.mp4">
					<source src="assets/video/webm/new-apple-pay-no-frame.webm">
				</video>
			</div>
		</div>

		<div class="slide">
			<div class="video-box">
				<video autoplay loop muted playsinline preload="auto">
					<source src="assets/video/mp4/new-spending-and-insights-no-frame.mp4">
					<source src="assets/video/webm/new-spending-and-insights-no-frame.webm">
				</video>
			</div>
		</div>

		<div class="slide">
			<div class="video-box">
				<video autoplay loop muted playsinline preload="auto">
					<source src="assets/video/mp4/new-apple-pay-no-frame.mp4">
					<source src="assets/video/webm/new-apple-pay-no-frame.webm">
				</video>
			</div>
		</div>

		<div class="slide">
			<div class="video-box">
				<video autoplay loop muted playsinline preload="auto">
					<source src="assets/video/mp4/new-spending-and-insights-no-frame.mp4">
					<source src="assets/video/webm/new-spending-and-insights-no-frame.webm">
				</video>
			</div>
		</div>

		<div class="slide">
			<div class="video-box">
				<video autoplay loop muted playsinline preload="auto">
					<source src="assets/video/mp4/new-apple-pay-no-frame.mp4">
					<source src="assets/video/webm/new-apple-pay-no-frame.webm">
				</video>
			</div>
		</div>
	</div>

{{> partials/foot }}
