//
// Carousel Slide
// ---------------------------------------------------------------------------------

.slide {
  @include margin(null em(30) null em(30))
  @include padding(em(60) em(20) em(60) em(20));
  border: em(3) solid cyan;
  border-radius: em(20);
  text-align: center;
  width: em(260);

  @include media($bp-medium) {
    width: em(340);
  }

  .video-box {
    @include maintain-ratio(1 1.775);
  }

  video {
    @include size(100% auto);
    border: em(3) solid cyan;
    display: block;

    &::-webkit-media-controls {
      display:none !important;
    }
  }

  // Component variant
  // Static phone mask positioned in front of the carousel slides
  .carousel-masked & {
    border: none;

    video {
      @include margin(em(3)); // Mimics border size
      border: none;
    }
  }
}
